doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/slideIn.css')
		script(type='text/javascript' src='/javascripts/three.min.js')
		script(type='text/javascript' src='/javascripts/VirtualFactory.js')
		script(type='text/javascript' src='/javascripts/controls/OrbitControls.js')
		script(type='text/javascript' src='/javascripts/libs/jquery-1.9.1.js')
		script(type='text/javascript' src='/javascripts/libs/sfcSlideIn.js')
		script(type='text/javascript' src='/javascripts/libs/require.js')
	body
		block content
		script
			|(function(){VF.install();})();